In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.datasets import fetch_california_housing

In [2]:
data = fetch_california_housing()

In [3]:
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block
        - HouseAge      median house age in block
        - AveRooms      average number of rooms
        - AveBedrms     average number of bedrooms
        - Population    block population
        - AveOccup      average house occupancy
        - Latitude      house block latitude
        - Longitude     house block longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
http://lib.stat.cmu.edu/datasets/

The target variable is the median house value for California districts.

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [4]:
df = pd.DataFrame(data = data.data, columns = data.feature_names)

In [5]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
df['Price'] = data.target

In [7]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [8]:
# import sweetviz as sz

In [9]:
# report = sz.analyze(df)

# report.show_html("./report.html")

In [10]:
#to get address from coordinates

In [11]:
# pip install geopy

In [12]:
from geopy.geocoders import Nominatim

locater = Nominatim(user_agent = 'geoapiExercises')

In [13]:
locater.reverse("37"+","+"-122").raw["address"]    #to get in dictionary

{'road': 'Wizard Hat',
 'city': 'Santa Cruz',
 'county': 'Santa Cruz County',
 'state_district': 'CAL Fire Northern Region',
 'state': 'California',
 'ISO3166-2-lvl4': 'US-CA',
 'postcode': '95065',
 'country': 'United States',
 'country_code': 'us'}

In [14]:
# def get_location(coordinates):
#     Latitude = str(coordinates[0])
#     Longitude = str(coordinates[1])
    
#     loc = locater.reverse(Latitude + "," + Longitude) 
    
#     if loc.get('road') is None:
#         loc['road'] = None
        
#     if loc.get('county') is None:
#         loc['county'] = None
        
#     loc_updated['road'].append(loc['road'])
#     loc_updated['county'].append(loc['county'])

In [15]:
# loc_new_update = {"county":[],"road":[]}

# for i, coordinates in enumerate(df.iloc[:,6:-1].values):
    
#     get_location(coordinates)
#     pickle.dump(loc_new_update, open("loc_update.pickle","wb"))
    
#     if i%100 == 0:
#         print(i)

In [16]:
# df.drop(labels=["Latitude","Longitude"],axis=1, inplace=True)

In [17]:
# df.fillna(0)
df['Price'].fillna(value=0)

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: Price, Length: 20640, dtype: float64

In [18]:
 y = df.iloc[:,-1].values

In [19]:


df.drop(labels=['Price'],axis=1,inplace=True)

In [20]:
y.shape

(20640,)

In [21]:
X = df.iloc[:,:].values

In [22]:
X.shape

(20640, 8)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

In [25]:
 from sklearn.ensemble import RandomForestRegressor  #67
# from sklearn.linear_model import LinearRegression  50
# from sklearn.linear_model import GradientBoostingRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [26]:
y_pred = model.predict(X_test)

In [27]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred) *100

80.51263215982986